.modal{
    .carrito__cont{
        .carrito__cont--cont{
            .carrito__cont--cont-body{
                .carrito__body{
                    .img__carrito{
                        width: 10%;
                        height: 10%;
                    }
                }
            }
        }
    }
}

main{
    .seccionProducto{
        .productos{
            height: 100px;
            .tienda{
                
                .tienda__card{
                    .img_card{
                        width: 100%;
                        height: 50px;
                    }
    
                }
            }
        }
    }

}



